<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord - École</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container my-5 dashboard">
        <h1 class="text-center mb-4">Tableau de Bord du Professeur</h1>
        <p class="text-center lead mb-4">Bienvenue, <%= user.nom %></p>

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
            
                <div class="card-body">
                    <form action="/eleve" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control mb-3" placeholder="Nom de l'élève" name="nom_eleve" required>
                            <input type="text" class="form-control mb-3" placeholder="Classe de l'élève" name="classe_eleve" required>
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Ajouter Élève</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                
                <div class="card-body">
                    <form action="/note" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control mb-3" placeholder="ID de l'élève" name="eleve_id" required>
                            <input type="text" class="form-control mb-3" placeholder="Matière" name="matiere" required>
                            <input type="number" class="form-control mb-3" placeholder="Note" name="note" step="0.01" required>
                            <button type="submit" class="btn btn-lg btn-block btn-success">Ajouter Note</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="text-center mb-4">
            <a href="/donnees" class="btn btn-lg btn-info">Voir les élèves et notes</a>
        </div>
        
        <div class="text-center">
            <a href="/logout" class="btn btn-lg btn-danger">Déconnexion</a>
        </div>
    </div>
</body>
</html>
