<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil de l'École</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="py-5 text-center">
            <h1 class="display-4">Bienvenue sur votre dashboard professeur</h1>
            <p class="lead">Votre plateforme éducative et collaborative.</p>
        </div>
        
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-4 mb-2">
                <a href="/login" class="btn btn-lg btn-primary w-100">Connexion</a>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <a href="/register" class="btn btn-lg btn-success w-100">Inscription</a>
            </div>
        </div>
    </div>
</body>
</html>
